@import "../../assets/scss/common";

html,
body,
.app{
    @extend %w100;
    @extend %h100;
}
html{
    background: #96cef1 url("../../assets/images/css/puzzle-bg.jpg") center top no-repeat;
    background-size: 100% auto;
}
body{
    background: url("../../assets/images/css/puzzle-title.jpg") center top no-repeat;
    background-size: 100% auto;
}
.app{
    @extend %oh;
}
.timer{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin-top: j(180);
    span{
        @extend %df;
        @extend %aic;
        @extend %jcc;
        @extend %cfff;
        @extend %fwb;
        margin: 0 j(1);
        border-radius: j(2);
        font-size: j(14);
        width: j(16);
        height: j(24);
        background-color: #0b6dd5;
    }
    i{
        @extend %df;
        @extend %aic;
        @extend %jcc;
        @extend %fwb;
        margin: 0 j(1);
        color: #0b6dd5;
        font-size: j(14);
        width: j(8);
        height: j(24);
    }
}
.main{
    @extend %w100;
    margin-top: j(10);
    height: j(368);
    border-top: j(1) #fff solid;
    border-bottom: j(1) #fff solid;
    div {
        @extend %pr;
        @extend %bsb;
        border: j(1) #fff solid;
        //&:after{
        //    content: '';
        //    @extend %pa;
        //    @extend %t0;
        //    @extend %l0;
        //    @extend %r0;
        //    @extend %b0;
        //    background-color: #a7d6f1;
        //    opacity: 0.6;
        //}
    }
}
