<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <title></title>
    <script src="assets/lib/flexible.js"></script>
</head>
<body class="bg">
    <div class="logo"></div>
    <div class="formbox-2">
        <div>
            <input type="text" placeholder="请输入跑马灯文字..." class="input-2">
        </div>
        <div class="uploadbox">
            <div class="uploadshow">
                <img src="../images/uploadimg.jpg">
            </div>
            <div class="uploadctrl">
                <img src="../images/upload-img-1.png">
                跑马灯示意图
            </div>
        </div>
        <div class="uploadbox">
            <div class="uploadshow">
                <img src="../images/uploadimg.jpg">
            </div>
            <div class="uploadctrl">
                <img src="../images/upload-img-2.png">
                <a href="javascript:;">立即上传海报</a>
            </div>
        </div>
        <div class="uploadbox">
            <div class="uploadbox-l">
                <div class="uploadshow">
                    <img src="../images/uploadimg.jpg">
                </div>
                <div class="loadingbox">
                    <div style="width: 50%;"></div>
                </div>
                <div class="loadingtxt">上传中 50% 剩余30秒</div>
            </div>

            <div class="uploadctrl">
                <img src="../images/upload-img-3.png">
                <a href="javascript:;">立即上传视频</a>
            </div>
        </div>

        <a href="javascript:;" class="btn-4"></a>
    </div>



    <div class="maskbox hide1" id="maskbox"></div>
    <div class="tipbox-1 hide1">
        <span class="ico-1"></span>
        <h3>提交成功</h3>
        <p>信息将于审核后发布</p>
        <div class="btnbox">
            <a href="javascript:;"><img src="../images/btn-5.png" ></a>
        </div>
    </div>

</body>
</html>
