
{{extend 'src/layouts/layout.html'}}

{{block 'title'}}爱他美{{/block}}

{{block 'content'}}

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
            </div>
            <div class="swiper-slide">
                <img src="https://img.owulia.com/daysnap/607d4033d56fd56379c7c92c/AVATAR/20210419165547.jpeg?w=64">
            </div>
            <div class="swiper-slide">
                <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
            </div>
            <div class="swiper-slide">
                <img src="https://img.owulia.com/daysnap/607d4033d56fd56379c7c92c/AVATAR/20210419165547.jpeg?w=64">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="container-wrap">

        <!-- 不想要吸顶效果就去掉 use-sticky -->
        <ul class="tab-section use-sticky">
            <li class="tab-item active">辅食添加</li>
            <li class="tab-item">辅食制作</li>
            <li class="tab-item">分月龄辅食</li>
        </ul>

        <div class="container-inner">
            <div class="container-content">
                <div class="cell">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                    <p>分月龄辅食分月龄辅食分月龄辅食分月龄辅食分月龄辅食</p>
                </div>
                <div class="cell">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                    <p>分月龄辅食分月龄辅食分月龄辅食分月龄辅食分月龄辅食</p>
                </div>
                <div class="cell">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                    <p>分月龄辅食分月龄辅食分月龄辅食分月龄辅食分月龄辅食</p>
                </div>
                <div class="cell">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                    <p>分月龄辅食分月龄辅食分月龄辅食分月龄辅食分月龄辅食</p>
                </div>
                <div class="cell">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                    <p>分月龄辅食分月龄辅食分月龄辅食分月龄辅食分月龄辅食</p>
                </div>
                <div class="cell">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                    <p>分月龄辅食分月龄辅食分月龄辅食分月龄辅食分月龄辅食</p>
                </div>
                <div class="cell">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                    <p>分月龄辅食分月龄辅食分月龄辅食分月龄辅食分月龄辅食</p>
                </div>
                <div class="cell">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                    <p>分月龄辅食分月龄辅食分月龄辅食分月龄辅食分月龄辅食</p>
                </div>
                <div class="cell">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                    <p>分月龄辅食分月龄辅食分月龄辅食分月龄辅食分月龄辅食</p>
                </div>
                <div class="cell">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                    <p>分月龄辅食分月龄辅食分月龄辅食分月龄辅食分月龄辅食</p>
                </div>
                <div class="cell cell-null">
                    <span>敬请<br/>期待</span>
                </div>
            </div>
            <div class="container-content hiddenImportant">
                <div class="cell">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                    <p>分月龄辅食分月龄辅食分月龄辅食分月龄辅食分月龄辅食</p>
                </div>
                <div class="cell cell-null">
                    <span>敬请<br/>期待</span>
                </div>
            </div>
            <div class="container-content hiddenImportant">
                <div class="cell">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                    <p>分月龄辅食分月龄辅食分月龄辅食分月龄辅食分月龄辅食</p>
                </div>
                <div class="cell cell-null">
                    <span>敬请<br/>期待</span>
                </div>
                <div class="cell cell-null">
                    <span>敬请<br/>期待</span>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(function () {
            new Swiper('.swiper-container', {
                loop: true,
                pagination: {
                    clickable: true,
                    el: '.swiper-pagination',
                },
            });
            var $elTabItems = $('.tab-item'),
                $elContainers = $('.container-content');
            $elTabItems.on('click', function () {
                var index = $elTabItems.index(this);
                $elTabItems.removeClass('active').eq(index).addClass('active');
                $elContainers.addClass('hiddenImportant').eq(index).removeClass('hiddenImportant');
            });
        });

    </script>

{{/block}}
