
{{extend 'src/layouts/layout.html'}}

{{block 'title'}}小罗大爱直播间{{/block}}

{{block 'content'}}

    <dl class="list">

        <dt class="list-title"><i class="list-icon-1"></i><h2>直播预告</h2></dt>

        <dd class="list-item">
            <img src="" alt="封面" class="list-cover"/>
            <h3>那些地毯大师大厦大厦都是短大山里的打篮球的那些地毯大师大厦大厦都是短大山里的打篮球的</h3>
            <p><i></i>日期：2021-07-07</p>
        </dd>

        <dt class="list-title"><i class="list-icon-2"></i><h2>直播预告</h2></dt>

        <dd class="list-item">
            <img src="" alt="封面" class="list-cover"/>
            <h3>那些地毯大师大厦大厦都是短大山里的打篮球的那些地毯大师大厦大厦都是短大山里的打篮球的</h3>
            <p><i></i>日期：2021-07-07</p>
        </dd>

        <dd class="list-item">
            <img src="" alt="封面" class="list-cover"/>
            <h3>那些地毯大师大厦大厦都是短大山里的打篮球的那些地毯大师大厦大厦都是短大山里的打篮球的</h3>
            <p><i></i>日期：2021-07-07</p>
        </dd>

        <dd class="list-item">
            <img src="" alt="封面" class="list-cover"/>
            <h3>那些地毯大师大厦大厦都是短大山里的打篮球的那些地毯大师大厦大厦都是短大山里的打篮球的</h3>
            <p><i></i>日期：2021-07-07</p>
        </dd>

        <dd class="list-prompt">没有更多了</dd>
    </dl>

{{/block}}
