
{{extend 'src/layouts/layout.html'}}

{{block 'title'}}KPL活动记录{{/block}}

{{block 'head'}}
<script src="assets/lib/swiper.min.js"></script>
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>-->
{{/block}}

{{block 'content'}}

<div class="null"></div>
<div class="form-view">
    <div class="form-cell form-half form-select">
        <select>
            <option>省份</option>
            <option>省份省份省份省份省份省份省份省份省份</option>
            <option>333</option>
        </select>
    </div>
    <div class="form-cell form-half form-select">
        <select>
            <option>城市</option>
            <option>222</option>
            <option>333</option>
        </select>
    </div>
    <div class="form-cell form-half form-select">
        <select>
            <option>省份</option>
            <option>省份省份省份省份省份省份省份省份省份</option>
            <option>333</option>
        </select>
    </div>
    <div class="form-cell form-half form-select">
        <select>
            <option>城市</option>
            <option>222</option>
            <option>333</option>
        </select>
    </div>
    <div class="form-cell">
        <span class="form-placeholder">活动时间</span>
        <input  type="date"/>
    </div>
    <div class="form-cell form-search1">
        <input type="text" placeholder="搜索"/>
    </div>
    <div class="form-cell form-search2">
        <div class="form-value">
            <input type="text" placeholder="搜索"/>
        </div>
        <i class="form-search-btn"></i>
    </div>
    <div class="c-button lean">提交</div>
</div>

<ul class="record-view">
    <li class="record-prompt">没有数据</li>
    <li class="record-item">
        <p>活动时间：2020-01-01</p>
        <p>地址：2020-01-01</p>
        <p>门店名称：2020-01-01</p>
        <p>品牌：2020-01-01</p>
        <p>活动等级：2020-01-01<strong>12</strong>dsds</p>
        <p>活动照片：<strong class="link">点击查看</strong></p>
    </li>
    <li class="record-item">
        <p>活动时间：2020-01-01</p>
        <p>地址：2020-01-01</p>
        <p>门店名称：2020-01-01</p>
        <p>品牌：2020-01-01</p>
        <p>活动等级：2020-01-012020-01-012020-01-012020-01-012020-01-012020-01-012020-01-012020-01-01</p>
        <p>活动照片：<strong class="link">点击查看</strong></p>
        <p>活动等级：2020-01-01 <strong>(12)</strong>dsds </p>
        <div class="c-button mini">点击修改</div>
    </li>
    <li class="record-item">
        <p>活动时间：2020-01-01</p>
        <p>地址：2020-01-01</p>
        <p>门店名称：2020-01-01</p>
        <p>品牌：2020-01-01</p>
        <p>活动等级：2020-01-01</p>
        <p>活动照片：<strong class="link">点击查看</strong></p>
        <p>活动等级：2020-01-01<strong>12</strong>dsds</p>
    </li>
</ul>

<!--显示弹窗只需要去掉 hiddenImportant-->
<!--隐藏需要加 hiddenImportant-->
<div class="popup-image hiddenImportant">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-zoom-container">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-zoom-container">
                    <img src="https://img.owulia.com/daysnap/607d4033d56fd56379c7c92c/AVATAR/20210419165547.jpeg?w=64">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-zoom-container">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-zoom-container">
                    <img src="https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64">
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <i></i>
</div>


<!--显示弹窗只需要去掉 hiddenImportant-->
<!--隐藏需要加 hiddenImportant-->
<div class="popup-update hiddenImportant">
    <div class="popup-update-inner">
        <h2 class="popup-update-title">修改该门店活动<br/>前后进货量数据</h2>
        <p class="popup-update-prompt">门店名称：图门店上海</p>
        <div class="popup-update-content">
            <h3>门店进货量</h3>
            <div class="form-label">活动前2020年7月-10月进货量(L)</div>
            <div class="form-cell">
                <input type="text" placeholder="请输入进货量"/>
            </div>
            <div class="form-label">活动后2021年7月-10月进货量(L)</div>
            <div class="form-cell">
                <input type="text" placeholder="请输入进货量"/>
            </div>
            <h3>门店进货量</h3>
            <div class="form-label">活动前2020年7月-10月进货量(L)</div>
            <div class="form-cell">
                <input type="text" placeholder="请输入进货量"/>
            </div>
            <div class="form-label">活动后2021年7月-10月进货量(L)</div>
            <div class="form-cell">
                <input type="text" placeholder="请输入进货量"/>
            </div>
        </div>
        <div class="popup-update-operate">
            <div class="popup-update-button cancel">取消</div>
            <div class="popup-update-button">保存</div>
        </div>
    </div>
</div>



<script type="text/javascript">
    //页面加载完成后初始化select2控件
    $(function () {
        // $("select").select2();

        var objSwiper = null;

        $('.link').on('click', function () {
            initSwiper();
            $('.popup-image').removeClass('hiddenImportant')
        });

        $('.popup-image > i').on('click', function () {
            $('.popup-image').addClass('hiddenImportant')
        })

        // 打卡
        function initSwiper () {
            if (objSwiper) {
                objSwiper.destroy();
            }
            objSwiper = new Swiper('.swiper-container', {
                loop: true,
                pagination: {
                    clickable: true,
                    el: '.swiper-pagination',
                },
            });
        }

        $('input[type="date"]').on('change', function () {
            var $el = $(this), value = $el.val(), $elPer = $el.parent().find('.form-placeholder');
            value ? $elPer.hide() : $elPer.show();
        })
    });
</script>

{{/block}}
