
{{extend 'src/layouts/layout.html'}}

{{block 'title'}}KPL活动问卷{{/block}}

{{block 'content'}}

<div class="content">
    <dl class="cell">
        <dt>(单选题)第1题：题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目</dt>
        <dd class="active"><i></i><span>选项答案选项答案选项答案选项答案选项答案选项答案选项答案选项答案选项答案选项答案</span></dd>
        <dd><i></i><span>选项答案选项答案选项答案选项答案选项答案</span></dd>
        <dd><i></i><span>选项答案选项答案选项答案选项答案选项答案</span></dd>
        <dd><i></i><span>选项答案选项答案选项答案选项答案选项答案</span></dd>
    </dl>
    <dl class="cell">
        <dt>(单选题)第1题：题目题目题目题目题目</dt>
        <dd><i></i><span>选项答案选项答案选项答案选项答案选项答案选项答案选项答案选项答案选项答案选项答案</span></dd>
        <dd><i></i><span>选项答案选项答案选项答案选项答案选项答案</span></dd>
        <dd><i></i><span>选项答案选项答案选项答案选项答案选项答案</span></dd>
        <dd><i></i><span>选项答案选项答案选项答案选项答案选项答案</span></dd>
    </dl>
    <dl class="cell">
        <dt>(单选题)第1题：题目题目题目题目题目</dt>
        <dd>
            <textarea class="textarea" placeholder="请在此输入..."></textarea>
        </dd>
    </dl>
</div>
<div class="button"><span>提交问卷</span></div>

{{/block}}
