
@import "~src/assets/scss/reset.scss";
@import "~src/assets/scss/define.scss";
@import "~src/assets/scss/pop.scss";
@import "~src/assets/scss/weui.min.scss";

%boxs{
    box-shadow: 0 0 j(5) 0 rgba(0,0,0,.05);
}
*{
    -webkit-tap-highlight-color: transparent;   //设置为透明
}

html,
body{
    @extend %w100;
    background-color: #fff;
}
.hidden {
    display: none;
}

.full {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.public-web-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.public-web-container p {
    position: absolute;
    top: 40%;
}

.public-web-container a {
    position: absolute;
    bottom: 40%;
}

.wechat-web-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wechat-web-container p {
    position: absolute;
    top: 40%;
}

.wechat-web-container wx-open-launch-weapp {
    position: absolute;
    bottom: 40%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-web-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.desktop-web-container p {
    margin-top:30px;
}
#wechat-web-container{
    p {
        @extend %tac;
        @extend %c3;
        font-size: j(14);
        padding-top: j(120);
    }
}
