
{{extend 'src/layouts/layout.html'}}

{{block 'title'}}罗氏轻糖俱乐部{{/block}}

{{block 'head'}}
<script src="assets/lib/jquery-1.8.1.min.js"></script>
<!-- 公众号 JSSDK -->
<!--<script src="assets/lib/jweixin-1.6.0.js"></script>-->
<!-- 生成二维码 -->
<script src="assets/lib/qrcode.min.js"></script>
{{/block}}

{{block 'content'}}

<div class="page full">
    <!-- 外部手机浏览器页面 -->
    <div id="public-web-container" class="hidden">
        <p id="public-web-jump-button-loading-text" class="">正在打开 “罗氏轻糖俱乐部”...</p>
        <a id="public-web-jump-button" href="javascript:" class="weui-btn weui-btn_primary weui-btn_loading">
            <span id="public-web-jump-button-loading-icon" class="weui-primary-loading weui-primary-loading_transparent">
                <i class="weui-primary-loading__dot"></i>
            </span>
            打开小程序
        </a>
    </div>
    <!-- 微信手机浏览器页面 -->
    <div id="wechat-web-container" class="hidden">
        <p class="">点击以下按钮打开 “罗氏轻糖俱乐部”</p>
        <wx-open-launch-weapp id="launch-btn" username="gh_261a0fa4c000" path="/pages/index/index?from=tag">
            <template>
                <style>
                    button {
                        width: 200px;
                        height: 45px;
                        text-align: center;
                        font-size: 17px;
                        display: block;
                        margin: 0 auto;
                        padding: 8px 24px;
                        border: none;
                        border-radius: 4px;
                        background-color: #07c160;
                        color: #fff;
                    }
                </style>
                <button>打开小程序</button>
            </template>
        </wx-open-launch-weapp>
    </div>
    <!-- PC浏览器页面 -->
    <div id="desktop-web-container" class="hidden">
        <div id="qrcode"></div>
        <p class="">请在手机打开网页链接</p>
    </div>
</div>

{{/block}}
