
{{extend 'src/layouts/layout.html'}}

{{block 'title'}}税筹管理系统{{/block}}

{{block 'content'}}

<header class="header-wrap">
    <div class="header-inner">
        <div class="logo-box">
            <img class="logo" src="~src/assets/images/logo.png" alt="logo">
            <h1>税筹管理系统</h1>
        </div>
<!--        <nav class="nav-box">-->
<!--            <a href="#plan" class="nav-item">企业痛点</a>-->
<!--            <a href="#solution" class="nav-item">解决方案</a>-->
<!--            <a href="#advantage" class="nav-item">平台优势</a>-->
<!--            <a href="#scene" class="nav-item">结算场景</a>-->
<!--        </nav>-->
    </div>
</header>

<section class="section-wrap banner-wrap">
    <img class="banner" src="~src/assets/images/banner.png" alt="值得信赖的灵活用工平台"/>
</section>

<section class="section-wrap business-wrap" id="plan">
    <div class="section-inner">
        <div class="section-title">
            <h2>企业痛点</h2>
            <p>BUSINESS PAIN POINTS</p>
        </div>
        <ul class="plans-box">
            <li></li>
            <li>
                <i class="iconfont icon-chengbenxiangdingyi"></i>
                <h3>劳务成本压力大</h3>
                <p>社保入税企业社保成本过高，企业承担社保28%、公积金12%、残障金1.5%，劳务成本高，不全额缴纳有被税务局稽查风险。</p>
            </li>
            <li>
                <i class="iconfont icon-zhengce"></i>
                <h3>政策不理想 税负重</h3>
                <p>企业所得税税负重，当地税收返回政策不理想。无票支出无法税前扣。支出不入账、入账不报税。</p>
            </li>
            <li>
                <i class="iconfont icon-gerendaiban"></i>
                <h3>个人汇算清缴</h3>
                <p>个税税改，年度汇算清缴，个税高。</p>
            </li>
            <li>
                <i class="iconfont icon-jiangjinjilu"></i>
                <h3>股东分红员工奖金</h3>
                <p>企业所得税25%+分红税20%=45%，高收入人员税负重，企业无票支出等问题。</p>
            </li>
            <li>
                <i class="iconfont icon-zhengcefagui1"></i>
                <h3>合作风险</h3>
                <p>小微合作伙伴的税务不规范，增加了企业自身税务成本和风险。</p>
            </li>
        </ul>
    </div>
</section>

<section class="section-wrap" id="solution">
    <div class="section-inner">
        <div class="section-title">
            <h2>解决方案</h2>
            <p>THE SOLUTION</p>
        </div>
        <img class="solution" src="~src/assets/images/solution.png" alt="解决方案">
    </div>
</section>

<section class="section-wrap" id="advantage">
    <div class="section-inner">
        <div class="section-title">
            <h2>平台优势</h2>
            <p>PLATFORM ADVANTAGE</p>
        </div>
        <ul class="advantage-box">
            <li>
                <i class="iconfont icon-zhengcezhipei"></i>
                <h3>多税优地，合理分散</h3>
                <p>全国各地各税核定政策。</p>
            </li>
            <li>
                <i class="iconfont icon-fuwu"></i>
                <h3>开票类目多，服务效率高</h3>
                <p>满足不同场景的发票需求，一站式服务，操作简单，在线票据申请。</p>
            </li>
            <li>
                <i class="iconfont icon-jihua"></i>
                <h3>全额应税，支持审计</h3>
                <p>提供各税申报合并明细表及完税凭证，全额按核定政策应税，支持审计穿行测试。</p>
            </li>
            <li>
                <i class="iconfont icon-9"></i>
                <h3>银行存管，资金安全</h3>
                <p>银行存管，资金安全保障，流向实时监控一键批量资金发放，秒级到账。</p>
            </li>
        </ul>
    </div>
</section>

<section class="section-wrap" id="scene">
    <div class="section-inner">
        <div class="section-title">
            <h2>结算场景</h2>
            <p>CLEARING THE SCENE</p>
        </div>
        <ul class="scene-box">
            <li>
                <img src="~src/assets/images/scene-1.png" alt="电商平台推广返佣结算">
                <h3>电商平台推广返佣结算</h3>
            </li>
            <li>
                <img src="~src/assets/images/scene-2.png" alt="教育平台线上教师结算">
                <h3>教育平台线上教师结算</h3>
            </li>
            <li>
                <img src="~src/assets/images/scene-3.png" alt="音视频平台网红/KOL结算">
                <h3>音视频平台网红/KOL结算</h3>
            </li>
            <li>
                <img src="~src/assets/images/scene-4.png" alt="生活服务类人员费用结算">
                <h3>生活服务类人员费用结算</h3>
            </li>
            <li>
                <img src="~src/assets/images/scene-5.png" alt="出行/物流平台的司机结算">
                <h3>出行/物流平台的司机结算</h3>
            </li>
            <li>
                <img src="~src/assets/images/scene-6.png" alt="培训师/在线医生的结算">
                <h3>培训师/在线医生的结算</h3>
            </li>
            <li>
                <img src="~src/assets/images/scene-7.png" alt="设计平台的设计结算">
                <h3>设计平台的设计结算</h3>
            </li>
        </ul>

        <p class="copyright">
            <a href="https://beian.miit.gov.cn/">沪ICP备17049755号-1</a>
        </p>
    </div>
</section>

{{/block}}
